[run]
branch = True
omit =
    # Django Migration Files
    */migrations/*

    # Static files
    static/*

    # Template files
    templates/*

    # Virtualenv files
    venv/*

    # URL Patterns
    */urls.py

    # Built-in WSGI
    */wsgi.py

    # Django App Configuration
    */apps.py
    jaypark/__init__.py
    jaypark/settings.py
    manage.py

    # Scripts
    common/management/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
