{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <title>jaypark - accounts</title>
    <link rel='stylesheet' href='{% static 'bootstrap/dist/css/bootstrap.min.css' %}'>
    <script type='text/javascript' src='{% static 'jquery/dist/jquery.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}'></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>