{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <link rel='stylesheet' href='{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}'>
    <link rel='stylesheet' href='{% static 'feed/css/base.css' %}'>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139306815-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139306815-1');
    </script>

    <script type='text/javascript' src='{% static 'lib/jquery/dist/jquery.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'lib/bootstrap/dist/js/bootstrap.bundle.min.js' %}'></script>
    <script type="text/javascript">
      var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

        for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
          }
        }
      };

      function sendGetRequestWithJson(url, data, cb) {
        // To send a get request with JSON and adding CSRF TOKEN to Header.
        data['dummy'] = new Date().getTime();
        $.ajax({
          url: url + '?' + $.param(data),
          type: 'GET',
          beforeSend: function(request) {
            request.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
          },
          success: function(res) {
            cb(res);
          }
        })
      }

      function sendPostRequestWithJson(url, data, cb) {
        // To send a post request with JSON and adding CSRF TOKEN to Header.
        $.ajax({
          url: url,
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json',
          dataType: 'json',
          cache: false,
          beforeSend: function(request) {
            request.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
          },
          success: function(res) {
            cb(res);
          }
        })
      }

      $(document).ready(function() {
        $('span.anchor-text').on('click', function(e) {
          var $this = $(e.currentTarget);
          var hasNoGlobalActionOption = $this.hasClass('no-global-action');
          if (hasNoGlobalActionOption) {
            return false;
          }

          var target = $this.data('target');
          var href = $this.data('href');
          if (!href) {
            console.info('No href');
            return false;
          }

          if (target === 'blank') {
            window.open(href, target);
          } else {
            window.location.href = href;
          }
        });

        $('.img-profile-photo').on('error', function(e) {
          $(e.currentTarget).attr('src', '{{ DEFAULT_PROFILE_PHOTO_URL }}');
        });
      });
    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'feed.index' %}">Jaypark</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'feed.index' %}">Home</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0"
              id="navbar--text-search"
              method="get"
              action="{% url 'feed.search' %}"
        >
            <input class="form-control mr-sm-2" type="search" required placeholder="Search" aria-label="Search" name="query" value="{{ searched_text|default:"" }}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-1 mr-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded" id="navbar-profile-img" src="{{ request.user.get_profile_photo_url }}" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ request.user.get_profile_url }}">@{{ request.user.username }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container pt-3">
{% block content %}
{% endblock %}
</div>
</body>
</html>