{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <link rel='stylesheet' href='{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}'>
    <link rel='stylesheet' href='{% static 'feed/css/base.css' %}'>
    <script type='text/javascript' src='{% static 'lib/jquery/dist/jquery.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'lib/bootstrap/dist/js/bootstrap.bundle.min.js' %}'></script>
    <script type="text/javascript">
      function sendPostRequestWithJson(url, data, cb) {
        // To send a post request with JSON and adding CSRF TOKEN to Header.
        $.ajax({
          url: url,
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json',
          dataType: 'json',
          beforeSend: function(request) {
            request.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
          },
          success: function(res) {
            cb(res);
          }
        })
      }

      $(document).ready(function() {
        $('span.anchor-text').on('click', function(e) {
          var $this = $(e.currentTarget);
          var hasNoGlobalActionOption = $this.hasClass('no-global-action');
          if (hasNoGlobalActionOption) {
            return false;
          }

          var target = $this.data('target');
          var href = $this.data('href');
          if (!href) {
            console.info('No href');
            return false;
          }

          if (target === 'blank') {
            window.open(href, target);
          } else {
            window.location.href = href;
          }
        })
      });
    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div>
Auth :
{% if user.is_authenticated %}
    You are logged in as {{ user.username }}.
    <a href='{% url 'logout' %}'>Logout</a>
{% else %}
    <a href='{% url 'login' %}'>Login</a>
{% endif %}
<hr>
</div>
{% block content %}
{% endblock %}
</body>
</html>