{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed</title>
    <link rel='stylesheet' href='{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}'>
    <link rel='stylesheet' href='{% static 'feed/css/base.css' %}'>
    <script type='text/javascript' src='{% static 'lib/jquery/dist/jquery.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'lib/bootstrap/dist/js/bootstrap.bundle.min.js' %}'></script>
    <script type="text/javascript">
      function sendPostRequestWithJson(url, data, cb) {
        // To send a post request with JSON and adding CSRF TOKEN to Header.
        $.ajax({
          url: url,
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json',
          dataType: 'json',
          beforeSend: function(request) {
            request.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
          },
          success: function(res) {
            cb(res);
          }
        })
      }

      $(document).ready(function() {
        $('span.anchor-text').on('click', function(e) {
          var $this = $(e.currentTarget);
          var hasNoGlobalActionOption = $this.hasClass('no-global-action');
          if (hasNoGlobalActionOption) {
            return false;
          }

          var target = $this.data('target');
          var href = $this.data('href');
          if (!href) {
            console.info('No href');
            return false;
          }

          if (target === 'blank') {
            window.open(href, target);
          } else {
            window.location.href = href;
          }
        })
      });
    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'feed.index' %}">Jaypark</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'feed.index' %}">Home</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ml-1 mr-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded" id="navbar-profile-img" src="{{ user.get_profile_photo_url }}" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ user.get_profile_url }}">@{{ user.username }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% block content %}
{% endblock %}
</body>
</html>