{% extends "feed/base.html" %}
{% load staticfiles %}
{% load common_filters %}
{% block content %}
<div>
    <div>
        <label for="username">Follow : </label>
        <input type="text" id="textUsernameToFollow" name="username" />
        <button class="btn btn-primary" type="button" id="btnFollow">Follow</button>
    </div>
    <div class='form-group'>
        <label for='textPost'></label>
        <textarea class='form-control' id='textPost' placeholder="Let's tweet!"></textarea>
        <button class='btn btn-primary' type='button' id='btnPost'>Tweet</button>
    </div>
</div>
<script>
    $(document).ready(function() {
      $('#btnPost').click(function() {
        var text = $('#textPost').val();
        var postData = {
          text: text
        };
        sendPostRequestWithJson('{% url 'post.api.write' %}', postData, function(res) {
          if (res.status === 'success') {
            alert('Success.');
            document.location.reload();
          } else {
            alert('Failed.');
          }
        });
      });

      $('#btnFollow').click(function() {
        var username = $('#textUsernameToFollow').val();
        var postData = {
            key: 'username',
            username: username
        };
        sendPostRequestWithJson('{% url 'account.api.follow' %}', postData, function(res) {
          if (res.status === 'success') {
            alert('Success.');
            document.location.reload();
            } else {
                alert(res.status_message);
            }
        });
    })
    });
</script>
{% endblock %}