{% extends "feed/base.html" %}
{% load staticfiles %}
{% load common_filters %}
{% block content %}
<div>
    <div>
        <label for="text-username-to-follow">Follow : </label>
        <input type="text" id="text-username-to-follow" name="username" />
        <button class="btn btn-primary" type="button" id="btn-follow">Follow</button>
    </div>
    <div class='form-group'>
        <label for='text-post'></label>
        <textarea class='form-control' id='text-post' placeholder="Let's tweet!"></textarea>
        <button class='btn btn-primary' type='button' id='btn-post'>Tweet</button>
    </div>
</div>
<script>
    $(document).ready(function() {
      $('#btn-post').click(function() {
        var text = $('#text-post').val();
        var postData = {
          text: text
        };
        sendPostRequestWithJson('{% url 'post.api.write' %}', postData, function(res) {
          if (res.status === 'success') {
            alert('Success.');
            document.location.reload();
          } else {
            alert('Failed.');
          }
        });
      });

      $('#btn-follow').click(function() {
        var username = $('#text-username-to-follow').val();
        var postData = {
            key: 'username',
            username: username
        };
        sendPostRequestWithJson('{% url 'account.api.follow' %}', postData, function(res) {
          if (res.status === 'success') {
            alert('Success.');
            document.location.reload();
            } else {
                alert(res.status_message);
            }
        });
    })
    });
</script>
{% endblock %}