{% load common_filters %}
<div id="tweet-{{ tweet.tweet_id }}" class="tweet row1">
    <div class="d-inline-block col-sm-1 pl-sm-2 mr-0 tweet--container-img-profile-photo align-top">
        <img class="rounded tweet--img-profile-photo" src="{{ tweet.profile_photo_url }}" alt="profile-img">
    </div>
    <div class="d-inline-block col-sm-10 pr-0">
        <div class="">
            <div>
                <a class="label" href="{{ tweet.username|username2url }}">@{{ tweet.username }}</a>
                <span>{{ tweet.created_at|timestamp2datetime|timesince:now }}</span>
            </div>
            <p class="tweet--text">
                {{ tweet.text }}
            </p>
        </div>
        <div class="d-block">
            <div class="d-inline-block">
                {% if not tweet.is_liked %}
                    <button class="btn-sm btn-outline-secondary tweet--btn-like" data-tweet-id="{{ tweet.tweet_id }}">Like</button>
                {% else %}
                    <button class="btn-sm btn-outline-secondary tweet--btn-unlike" data-tweet-id="{{ tweet.tweet_id }}">UnLike</button>
                {% endif %}
            </div>
            <div class="d-inline-block">
                <button class="btn-sm btn-outline-secondary tweet--btn-see-comments" data-tweet-id="{{ tweet.tweet_id }}" data-toggle="modal" data-target="#modal-comments">
                    See Comments
                </button>
            </div>
        </div>
    </div>
</div>